@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Anime";
}

<div id="modal" class="hidden fixed z-50 inset-0 flex items-center justify-center bg-gray-500 bg-opacity-50">
    <div class="bg-white text-lg p-8 rounded flex space-y-2 flex-col w-8/12" style="max-height: 75vh">
        <div class="flex justify-between items-center">
            <h2 id="modal-title" class="font-bold text-2xl flex-1">Titulo</h2>
            <button id="modal-cancel" class="border p-1 px-2 mx-2 rounded">Cerrar</button>
            @if (ViewBag.isAdmin)
            {
                <button id="modal-delete" class="border bg-red-500 text-white p-1 px-2 mx-2 rounded">Borrar</button>
                <button id="modal-save" class="border bg-indigo-500 text-white p-1 px-2 mx-2 rounded">Guardar</button>
            }

        </div>

        <form id="modal-form" class="overflow-auto flex space-y-2 flex-col">
            <ul id="modal-errors" class="text-red-700">
            </ul>
            <div id="id-container">
                <h3>ID</h3>
                <input id="id" name="id" class="border w-1/4" readonly type="text" />
            </div>
            <div class="md:flex md:space-x-10">
                <div class="w-full md:w-1/2">
                    <h3>Nombre</h3>
                    <input id="nombre" name="nombre" class="border rounded w-full" type="text" />
                </div>
                <div class="w-full md:w-1/2">
                    <h3>Fecha de Estreno</h3>
                    <input id="fecha-estreno" name="fechaEstreno" class="border rounded w-full" data-toggle="datepicker">
                </div>
            </div>
            <div class="sm:w-full">
                <h3>Sinopsis</h3>
                <textarea id="sinopsis" name="sinopsis" class="border rounded w-full"></textarea>
            </div>
            <div>
                <h3>Estado</h3>
                <div id="estado-container" class="border rounded">
                    <select class="multiselect" style="width:100%" id="estado" name="estado">
                        @if (ViewBag.Estados != null)
                        {
                            foreach (var estado in ViewBag.Estados)
                            {
                                <option value="@estado.ID">@estado.Nombre</option>
                            }

                        }
                    </select>
                </div>
            </div>
            <div>
                <h3>Géneros</h3>
                <div id="generos-container" class="border rounded">
                    <select class="multiselect" style="width:100%" id="generos" name="generos[]" multiple="multiple">
                        @if (ViewBag.Generos != null)
                        {
                            foreach (var genero in ViewBag.Generos)
                            {
                                <option value="@genero.ID">@genero.Nombre</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="md:flex md:space-x-10">
                <div class="w-full md:w-1/2">
                    <h3>Popularidad</h3>
                    <input id="popularidad" name="popularidad" class="border rounded w-full" type="number" max="5.00" min="1.00" step="0.01" />
                </div>
                <div class="w-full md:w-1/2">
                    <h3>Puntuacion</h3>
                    <input id="puntuacion" name="puntuacion" class="border rounded w-full" type="number" max="5.00" min="1.00" step="0.01">
                </div>
            </div>
            <div class="w-full md:w-1/2">
                <h3>Imagen</h3>
                <input id="imagen" name="imagen" class="border rounded w-full" type="text" />
            </div>
            <div class="w-full md:w-1/2">
                <h3>Nombres alternativos (separado por punto y coma)</h3>
                <input id="nombres-alternativos" name="nombresAlternativos" class="border rounded w-full" type="text" />
            </div>
            <div>
                <h3>Estudios</h3>
                <div id="estudios-container" class="border rounded">
                    <select class="multiselect" style="width:100%" id="estudios" name="estudios[]" multiple="multiple">
                        @if (ViewBag.Estudios != null)
                        {
                            foreach (var estudio in ViewBag.Estudios)
                            {
                                <option value="@estudio.ID">@estudio.Nombre</option>
                            }

                        }
                    </select>
                </div>
            </div>
            <div>
                <h3>Actores</h3>
                <div id="actores-container" class="border rounded">

                    <select class="multiselect" style="width:100%" id="actores" name="actores[]" multiple="multiple">
                        @if (ViewBag.Actores != null)
                        {
                            foreach (var actor in ViewBag.Actores)
                            {
                                <option value="@actor.ID">@actor.Nombre</option>
                            }
                        }

                    </select>
                    <div id="actores-detail">

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="bg-gray-100 text-gray-900 tracking-wider flex-1 leading-normal">
    <!--Container-->
    <div class="container w-full md:w-4/5 xl:w-3/5  mx-auto px-2">

        <!--Title-->
        <div class="flex items-center justify-between">

            <h1 class="font-sans font-bold break-normal text-indigo-500 px-2 py-8 text-xl md:text-2xl">
                Datos de Animes
            </h1>
            @if (ViewBag.isAdmin)
            {
                <button id="modal-new" class="bg-indigo-500 p-2 rounded text-white">Crear Nuevo</button>
            }

        </div>


        <!--Card-->
        <div id='recipients' class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
            <table id="datatable" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                <thead>
                </thead>
                <tbody>
                </tbody>

            </table>


        </div>
        <!--/Card-->


    </div>
</div>


<script>
    $(document).ready(function () {

        //datepicker
        var datepicker = $('[data-toggle="datepicker"]').datepicker({ format: 'dd/mm/yyyy' });

        // tables
        var table = $('#datatable').DataTable({
            "language": {
                "decimal": "",
                "emptyTable": "No hay datos disponibles",
                "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_",
                "infoEmpty": "Mostrando 0 registros",
                "infoFiltered": "(filtrados de un total de _MAX_ registros)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Registros por página _MENU_ ",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "No se encontraron coincidencias",
                "paginate": {
                    "first": "Primera",
                    "last": "Última",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                }
            },
            "columnDefs": [
                {
                    "targets": [2],
                    "render": function (data) {
                        var x = moment(data)
                        return x.isValid() ? moment(data).format('D/M/YYYY') : '---'
                    }
                }
            ],
            "columns": [
                { name: "id", title: "ID", data: 'ID' },
                { name: "nombre", title: "Nombre", data: 'Nombre' },
                { name: "fecha_estreno", title: "Fecha Estreno", defaultContent: '---', data: 'FechaEstreno' },
                { name: "estado", title: "Estado", data: 'Estado.Nombre' },
                { name: "puntuacion", title: "Puntuación", data: 'Puntuacion', searchable: false },
                { name: "popularidad", title: "Popularidad", data: 'Popularidad', searchable: false },
            ],
            responsive: true,
        })
            .columns.adjust()
            .responsive.recalc();

        //onclick close modal
        $("#modal-cancel").on('click', function () {
            $("#modal").addClass('hidden')
        })

        //onclick save modal
        $("#modal-save").on('click', function () {
            var error = false,
                id = $("#id").val(),
                nombre = $("#nombre").val(),
                imagen = $("#imagen").val(),
                fechaEstreno = moment($("#fecha-estreno").val(), 'DD/MM/YYYY', true),
                fechaString = $("#fecha-estreno").val(),
                nombresAlternativos = $("#nombres-alternativos").val().split(';'),
                sinopsis = $("#sinopsis").val(),
                estado = $("#estado").select2("data")
            generos = $("#generos").select2('data'),
                popularidad = $("#popularidad").val(),
                puntuacion = $("#puntuacion").val(),
                estudios = $("#estudios").select2('data'),
                personajes = $("#actores-detail input").map(function () {
                    var string = $(this).attr("name")
                    return { ActorID: string.split("-")[1], Nombre: $(this).val(), Rol: 1 }
                }).get()




            $("#modal .border-red-500").removeClass("border-red-500")

            $("#modal-errors").empty()

            if (!nombre) {
                error = true
                $("#modal-errors").append("<li>Nombre no puede ser vacío</li>")
                $("#nombre").addClass("border-red-500")
            }
            if (fechaString !== '' && !fechaEstreno.isValid()) {
                error = true
                $("#modal-errors").append("<li>Ingrese una fecha válida</li>")
                $("#fecha-estreno").addClass("border-red-500")
            }
            if (!sinopsis) {
                error = true
                $("#modal-errors").append("<li>Sinópsis no puede ser vacío</li>")
                $("#sinopsis").addClass("border-red-500")
            }
            if (estado.length === 0) {
                error = true
                $("#modal-errors").append("<li>Escoja un estado</li>")
                $("#estado-container").addClass("border-red-500")
            }
            if (isNaN(popularidad) || popularidad < 1 || popularidad > 5) {
                error = true
                $("#modal-errors").append("<li>Ingrese popularidad válida entre 1 a 5</li>")
                $("#popularidad").addClass("border-red-500")
            }
            if (isNaN(puntuacion) || puntuacion < 1 || puntuacion > 5) {
                error = true
                $("#modal-errors").append("<li>Ingrese puntuación válida entre 1 a 5</li>")
                $("#puntuacion").addClass("border-red-500")
            }
            if (estudios.length === 0) {
                error = true
                $("#modal-errors").append("<li>Escoja un estudio</li>")
                $("#estudios-container").addClass("border-red-500")
            }

            if (!error) {
                const req = {
                    anime: {
                        ID: id,
                        Nombre: nombre,
                        Sinopsis: sinopsis,
                        Puntuacion: puntuacion,
                        Popularidad: popularidad,
                        Imagen: imagen,
                        EstadoID: estado[0].id
                    },
                    generos: generos.map(item => item.id),
                    estudios: estudios.map(item => item.id),
                    personajes: personajes,
                    nombresAlternativos: nombresAlternativos
                }

                if (fechaString !== '') {
                    req.anime.FechaEstreno = fechaEstreno.toISOString()
                }

                $.ajax({
                    url: "/Anime/Guardar",
                    method: "POST",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    },
                    data: req,
                    dataType: 'json'
                }).done(function (response) {
                    if (response.success) {
                        updateRows()
                        Swal.fire({
                            title: '¡Éxito!',
                            icon: 'success',
                            text: response.message,
                            showCloseButton: 'true',
                            closeButtonText: 'Cerrar'
                        })
                            .then(function () {
                                $("#modal").addClass("hidden")
                            })
                    }
                    else {
                        Swal.fire({
                            title: '¡Ha ocurrido un error!',
                            icon: 'error',
                            text: response.message,
                            showCloseButton: 'true',
                            closeButtonText: 'Cerrar'
                        })
                    }
                }).fail(function (response) {
                    Swal.fire({
                        title: 'Ha ocurrido un error!',
                        icon: 'error',
                        text: 'Inténtelo más tarde',
                        showCloseButton: 'true',
                        closeButtonText: 'Cerrar'
                    })
                })

            }

        })

        //onclick delete modal
        $("#modal-delete").on("click", function () {
            var id = $("#id").val()

            $.ajax({
                url: "/Anime/Eliminar/",
                method: "POST",
                headers: {
                    "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                },
                data: { id: id },
                dataType: 'json'
            }).done(function (response) {
                if (response.success) {
                    updateRows()
                    Swal.fire({
                        title: '¡Éxito!',
                        icon: 'success',
                        text: response.message,
                        showCloseButton: 'true',
                        closeButtonText: 'Cerrar'
                    })
                        .then(function () {
                            $("#modal").addClass("hidden")
                        })
                }
                else {
                    Swal.fire({
                        title: '¡Ha ocurrido un error!',
                        icon: 'error',
                        text: response.message,
                        showCloseButton: 'true',
                        closeButtonText: 'Cerrar'
                    })
                }
            }).fail(function (response) {
                Swal.fire({
                    title: 'Ha ocurrido un error!',
                    icon: 'error',
                    text: 'Inténtelo más tarde',
                    showCloseButton: 'true',
                    closeButtonText: 'Cerrar'
                })
            })
        })

        //onclick new modal
        $("#modal-new").on('click', function () {
            $("#modal-title").html("Nuevo registro")
            $("#modal .border-red-500").removeClass("border-red-500")

            $("#modal-errors").empty()

            $('#id').val(0)
            $('#id-container').addClass('hidden')
            $('#nombre').val('')
            $('#sinopsis').val('')
            $('#imagen').val('')
            $('#fecha-estreno').val('')
            $('[data-toggle="datepicker"]').datepicker('setDate', null)
            $('#nombres-alternativos').val('')
            $('#popularidad').val('')
            $('#puntuacion').val('')
            $('#estado').val(null).trigger('change')
            $('#generos').val(null).trigger('change')
            $('#estudios').val(null).trigger('change')
            $('#actores').val(null).trigger('change')

            $("#actores-detail").empty()
            $("#modal").removeClass('hidden')
            $("#modal-delete").addClass('hidden')
        })

        //onclick edit modal
        $('#datatable tbody').on('click', 'tr', function () {
            $("#modal-title").html("Editar registro")
            var data = table.row(this).data();

            console.log(data)

            $("#modal .border-red-500").removeClass("border-red-500")

            $("#modal-errors").empty()

            $('#id').val(data.ID)
            $('#id-container').removeClass('hidden')
            $('#nombre').val(data.Nombre)
            $('#sinopsis').val(data.Sinopsis)
            $('#imagen').val(data.Imagen)
            $('#fecha-estreno').val(data.ID)
            if (data.FechaEstreno) {
                $('[data-toggle="datepicker"]').datepicker('setDate', new Date(data.FechaEstreno))
            }
            else {
                $('#fecha-estreno').val('')
            }
            $('#popularidad').val(data.Popularidad)
            $('#puntuacion').val(data.Puntuacion)
            $('#nombres-alternativos').val(data.NombreAlternativo.reduce(function (accum, current) {
                return accum + current.Nombre + ";"
            }, '').slice(0, -1))
            $('#estado').val(data.EstadoID).trigger('change')
            $('#generos').val(data.AnimeGenero.map(item => item.Genero.ID)).trigger('change')
            $('#estudios').val(data.AnimeEstudio.map(item => item.Estudio.ID)).trigger('change')
            $('#actores').val(data.Personajes.map(item => item.Actor.ID)).trigger('change')
            $("#modal-delete").removeClass('hidden')

            $("#actores-detail").empty()
            data.Personajes.forEach(personaje => {

                var elements = `
                                    <div class="flex flex-wrap py-2" id="actor-${personaje.ActorID}">
                                        <p class="mr-3 w-1/2">Actor: ${personaje.Actor.Nombre}</p>
                                        <p class="mr-2">Personajes: </p><input class="rounded border border-gray-500 flex-1" name="actor-${personaje.ActorID}" value="${personaje.Nombre}"/>
                                    </div>
`
                $("#actores-detail").append(elements)
            })

            $("#modal").removeClass('hidden')
        })


        var updateRows = function () {
            $.ajax({
                url: "/Anime/Lista",
                headers: {
                    "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                },
            }).done(function (response) {
                var dataArray = JSON.parse(response.data)
                table.clear()
                table.rows.add(dataArray)
                table.draw().columns.adjust()
                    .responsive.recalc();
            })
        }

        updateRows()

        //multi select
        $('.multiselect').select2();
        $('#actores').on('select2:select', function (e) {
            var data = e.params.data;
            var elements = `
                                    <div class="flex flex-wrap py-2" id="actor-${data.id}">
                                        <p class="mr-3 w-1/2">Actor: ${$(e.target).find(`[value=${data.id}]`).html()}</p>
                                        <p class="mr-2">Personajes: </p><input class="rounded border border-gray-500 flex-1" name="actor-${data.id}"/>
                                    </div>
`

            $("#actores-detail").append(elements)
        });
        $('#actores').on('select2:unselect', function (e) {
            var data = e.params.data;
            $("#actores-detail").find(`#actor-${data.id}`).remove()
        });

    });
</script>
